.wrapper {}

.title {
    font-size: 110%;
    margin: 0;
    color: #fff;
    text-align: center;
}

.persons {
    display: flex;
    width: 185px;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-between;
    white-space: nowrap;
}

.checkbox {
    cursor: pointer;
    background-color: #fff;
}

.label {
    color: #fff;
}

.icon {
    width: 10px;
    height: 10px;
    background-color: rgb(22, 88, 255);
    border-radius: 3px;
}